.env
node_modules/
trumpisms
public/dist/
public/temp/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.DS_Store
public/.DS_Store
public/static/.DS_Store
public/static/aud/.DS_Store