html {
  height: 100%;
  overflow: hidden;
}

body {
  background: url(https://s3.amazonaws.com/trump-says/trump-portrait-96dpi-1500px.jpg);
  background-attachment: fixed;
  background-color: black;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  background-repeat:  no-repeat;
  font-family: 'Carter One', sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  #content {
    max-width: 1200px;
  }

  #action-rail {
    width: 100%;
  }
}