@font-face{
  font-family: 'Carter One';
  src: url('../fonts/carterone-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/carterone-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/carterone-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    // url('../fonts/carterone-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/carterone-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/carterone-webfont.svg#carter_oneregular') format('svg'); /* Legacy iOS */
}