// $primary: #d3d3d3;
$primary: #fff;
$orange: #dd9d3e;
$smallScreenWidth: 700px;

body {
  background: url(https://s3.amazonaws.com/trump-says/trump-portrait-96dpi-1500px.jpg);
  background-attachment: fixed;
  background-color: black;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  background-repeat:  no-repeat;
  font-family: 'Carter One', sans-serif;
  width: 100%;

  #content {
    max-width: 1200px;
  }
}

#quote {
  font-size: 70px;

  #text {
    color: $primary;
    cursor:  pointer;
    letter-spacing: -4px;
    line-height: 0.90;
    text-align: center;
    text-transform: uppercase;

    margin: 0;
    top: 45%;
    left: 50%;
    position: absolute;
    width: 70%;
    max-width:  1000px;

    // Center the text
    transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);

    // Each word is introduced separately, so this styling applies to individual words:
    .word {
      margin-right: 10px;
      margin-left:  10px;
      display:  inline-block;
      // transition: text-shadow 0.2s, opacity 1s, transform 1s, -webkit-transform 1s, -moz-transform 1s, -o-transform 1s;
      transition: text-shadow 0.2s, opacity 1s, transform 1s, -webkit-transform 1s;
      text-shadow: 3px 3px $orange;

      // The skewing below italicizes the text. I used this approach because using 'font-style: italic'
      // gave me issues on iOS: the sections where the italicized letters overlapped vertically were only
      // rendering once the animations of the text was done. This also has the added benefit of making the
      // letters a little more animated (since the into class below is missing these transforms)
      transform: skewX(-20deg);
      -webkit-transform: skewX(-20deg);
      -moz-transform: skewX(-20deg);
      -o-transform: skewX(-20deg);
    }

    &:hover .word {
      text-shadow: 6px 6px $orange;
    }

    &.intro .word {
      // This class is added to the words when they're first introduced, so that they seem to vaporize
      // in when the intro class is removed
      opacity: 0;
      transform: translateY(100%);
      -moz-transform: translateY(100%);
      -webkit-transform: translateY(100%);
      -o-transform: translateY(100%);
    }
  }
}

#action-rail {
  width: 100%;
}

#button {
  background:  transparent;
  border: none;
  bottom:  30px;
  cursor:  pointer;
  fill: $primary;
  left:  50%;
  outline:  0;
  position:  absolute;
  transition:  all 0.2s;
  width: 100px;

  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);

  &.unclicked {
    animation: shake 4s ease 2s infinite;
  }

  &.active {
    -moz-transform: translateX(-50%) scale(0.95);
    -webkit-transform: translateX(-50%) scale(0.95);
    -o-transform: translateX(-50%) scale(0.95);
    transform: translateX(-50%) scale(0.95);

    #face {
      fill: $orange;
    }
  }

  #face, #hair {
    fill: $primary;
    transition:  all 0.3s;
  }

  &.hover #face {
    fill: $orange;
  }

  &.loading #face {
    animation: glow 1s ease 0s infinite;
  }
}

#social {
  box-sizing: border-box;
  width: 100%;
  bottom: 30px;
  position: absolute;
  padding: 30px 40px;
  text-align: right;

  .social-icon {
    fill: $primary;
    cursor:  pointer;
    width: 45px;
    margin: 0 15px;
    transition: all 0.2s;

    &:hover {
      fill: $orange;
    }
  }

}

@media (max-width: $smallScreenWidth) {
  #quote {
    font-size: 40px;

    #text {
      width: 100%;
    }
  }

  #button {
    width: 15%;
    min-width: 60px;
    bottom: 10px;
  }

  #social {
    bottom: 10px;
    padding: 10px 10px;

    .social-icon {
      width: 10px;
      margin: 0 5px;
      min-width: 30px;
    }
  }
}

// Animations
@keyframes glow {
  0% 100% {
    fill: $primary;
  }

  40%, 50%, 65% {
    fill: $orange;
  }
}

@-webkit-keyframes glow {
  0%, 100% {
    fill: $primary;
  }

  40%, 50%, 65% {
    fill: $orange;
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateX(-50%) scale3d(1, 1, 1);
    transform: translateX(-50%) scale3d(1, 1, 1);
  }

  2%, 4% {
    -webkit-transform: translateX(-50%) scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: translateX(-50%) scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  6%, 10%, 14%, 18% {
    -webkit-transform: translateX(-50%) scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: translateX(-50%) scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  8%, 12%, 16% {
    -webkit-transform: translateX(-50%) scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: translateX(-50%) scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  20% {
    -webkit-transform: translateX(-50%) scale3d(1, 1, 1);
    transform: translateX(-50%) scale3d(1, 1, 1);
  }
}

@-webkit-keyframes shake {
   0% {
    -webkit-transform: translateX(-50%) scale3d(1, 1, 1);
    transform: translateX(-50%) scale3d(1, 1, 1);
  }

  2%, 4% {
    -webkit-transform: translateX(-50%) scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: translateX(-50%) scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  6%, 10%, 14%, 18% {
    -webkit-transform: translateX(-50%) scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: translateX(-50%) scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  8%, 12%, 16% {
    -webkit-transform: translateX(-50%) scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: translateX(-50%) scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  20% {
    -webkit-transform: translateX(-50%) scale3d(1, 1, 1);
    transform: translateX(-50%) scale3d(1, 1, 1);
  }
}
