body {
  background: url(https://s3.amazonaws.com/trump-says/trump-portrait-96dpi-1500px.jpg);
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;

  font-family: 'Amatic SC', cursive;
  font-size: 40px;
}

#quoteBox {
  width:  100%;
}

#quoteText {
  color: #d3d3d3;
  color: #d3d3d3;
  letter-spacing: 9px;
  text-align: center;
  display: block;
  width: 70%;
  margin: 0;
  top: 45%;
  left: 50%;
  max-width:  1200px;

  -moz-transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
}

#quoteText span {
  margin-right: 10px;
  margin-left:  10px;
  display:  inline-block;
  transition:  all 1s;
}

#quoteText.intro span {
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
}

#banner {
  outline:  0;
  background:  transparent;
  border:  none;
  display:  block;
  position:  absolute;
  width: 400px;
  bottom:  30px;
  left:  50%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  fill: #d3d3d3;
  z-index:  3;
  cursor:  pointer;
}

#face, #hair, #words {
  fill: #d3d3d3;
  transition:  all 0.3s;
}

#face, #hair, #dots {
  fill: #d3d3d3;
  transition:  all 0.3s;
}

#banner:hover #face {
  fill:  #dd9d3e;
}

#banner:hover #dots {
  fill:  #dd9d3e;
}
