$grey: #d3d3d3;
$orange: #dd9d3e;

body {
  background: url(https://s3.amazonaws.com/trump-says/trump-portrait-96dpi-1500px.jpg);
  background-color: black;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;

  font-family: 'Carter One', sans-serif;
  font-size: 35px;
}

#quoteBox {
  width:  100%;
}

#quoteText {
  color: $grey;
  letter-spacing: -4px;
  line-height: 1;
  text-align: center;
  display: block;
  width: 70%;
  margin: 0;
  top: 45%;
  left: 50%;
  max-width:  1200px;
  text-transform: uppercase;

  -moz-transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
}

#quoteText span {
  margin-right: 10px;
  margin-left:  10px;
  display:  inline-block;
  transition:  all 1s;

  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

#quoteText.intro span {
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
}

#button {
  outline:  0;
  border: none;
  background:  transparent;
  display:  block;
  position:  absolute;
  width: 150px;
  bottom:  30px;
  left:  50%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  fill: $grey;
  z-index:  3;
  cursor:  pointer;
  transition:  all 0.2s;
}

#trumpHead {
  width:  75%;
}

#face, #hair, #words {
  fill: $grey;
  transition:  all 0.3s;
}

#face, #hair, #dots {
  fill: $grey;
  transition:  all 0.3s;
}

#button:hover #face {
  fill:  $orange;
}

#button:hover {
  border-color:  $orange;
}

#button:active {
  -moz-transform: translateX(-50%) scale(0.97);
  -webkit-transform: translateX(-50%) scale(0.97);
  -o-transform: translateX(-50%) scale(0.97);
  transform: translateX(-50%) scale(0.97);
}

@media screen and (max-width: 600px) {
  body {
    font-size: 20px;
  }

  #quoteText {
    width: 100%
  }

  #button {
    width: 20%;
    min-width: 100px;
    bottom: 10px;
  }
}
