#quote {
  font-size: 70px;

  #text {
    color: $primary;
    cursor:  pointer;
    letter-spacing: -4px;
    line-height: 0.90;
    text-align: center;
    text-transform: uppercase;

    margin: 0;
    top: 45%;
    left: 50%;
    position: absolute;
    width: 70%;
    max-width:  1000px;

    // Center the text
    transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);

    // Span applis to all "words" which can have class of "word" or "emoji"
    // Distinction results from not wanting emojis to be italicized and shadowed.
    span {
      margin-right: 10px;
      margin-left:  10px;
      display:  inline-block;
      // transition: text-shadow 0.2s, opacity 1s, transform 1s, -webkit-transform 1s, -moz-transform 1s, -o-transform 1s;
      transition: text-shadow 0.2s, opacity 1s, transform 1s, -webkit-transform 1s;
    }

    .word {
      text-shadow: 3px 3px $orange;

      // The skewing below italicizes the text. I used this approach because using 'font-style: italic'
      // gave me issues on iOS: the sections where the italicized letters overlapped vertically were only
      // rendering once the animations of the text was done. This also has the added benefit of making the
      // letters a little more animated (since the into class below is missing these transforms)
      transform: skewX(-20deg);
      -webkit-transform: skewX(-20deg);
      -moz-transform: skewX(-20deg);
      -o-transform: skewX(-20deg);
    }

    .emoji {
      transform: translateY(12%);
    }

    &.hover .word {
      text-shadow: 6px 6px $orange;
    }

    &.intro span {
      // This class is added to the words when they're first introduced, so that they seem to vaporize
      // in when the intro class is removed
      opacity: 0;
      transform: translateY(100%);
      -moz-transform: translateY(100%);
      -webkit-transform: translateY(100%);
      -o-transform: translateY(100%);
    }
  }
}

@media (max-width: $smallScreenWidth) {
  #quote {
    font-size: 40px;

    #text {
      width: 100%;
    }
  }
}