@keyframes glow {
  0% 100% {
    fill: $primary;
  }

  40%, 50%, 65% {
    fill: $orange;
  }
}

@-webkit-keyframes glow {
  0%, 20%, 80% {
    fill: $orange;
  }

  50%, 100% {
    fill: $primary;
  }
}