doctype html
html
  head
    title="Donald Trump's Best Words"
    meta(property="description", content="A small sampling of Donald Trump's choicest words, as heard from the mouth of that very stablest of genius.")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(charset="UTF-8")
    meta(property="og:title", content="Donald Trump's Best Words")
    meta(property="og:description", content="A small sampling of Donald Trump's choicest words, as heard from the mouth of that very stablest of genius.")
    meta(property="og:type", content="website")
    meta(property="og:url", content="https://www.the-best-words.com")
    meta(property="og:image", content="https://www.the-best-words.com/share.jpg")
  body(style="background-color: black")
    div(id="content")
      div(id="quote")
        div(id="text", class="first-round")
        audio(id="audio-tag")
      div(id="action-rail")
        div(id="social", class="hidden")
          a(target="_blank", id="twitter-link")
            include img/twitter-icon.svg
        div(id="button", class="unclicked")
          include img/trump-head.svg
