doctype html
html
  head
    title= 'Shit Trump Says'
    link(rel="stylesheet", type="text/css", href="css/index.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Carter+One")
    meta(name="viewport", content="width=device-width,initial-scale=1")
  body
    div(id="quote")
      h1(id="text")
      audio(id="audioTag")
    div(id="button")
      include img/trump-head.svg
    script(src="js/trump.min.js")
