html
head
  title= 'Shit Trump Says'
body
  p='hi'
  a(href=audio)="Hear it"
  link(rel="stylesheet", type="text/css", href="css/index.css")
  button(id="trumpMe")="Trump Me"
  script(src="js/trump.js")
