html
head
  title= 'Shit Trump Says'
  link(rel="stylesheet", type="text/css", href="css/index.min.css")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Amatic+SC|Bangers|Bowlby+One+SC|Bungee|Changa+One|Cinzel+Decorative|Permanent+Marker|Teko|Ultra")
body
  div(id="quoteBox")
    h1(id="quoteText")='Shit Trump Says'
  div(id="banner")
    include banner.svg
  script(src="js/trump.js")
