doctype html
html
  head
    title= 'Shit Trump Says'
    link(rel="stylesheet", type="text/css", href="css/index.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Amatic+SC")
  body
    div(id="quoteBox")
      h1(id="quoteText")
    button(id="banner")
      include img/banner.svg
    script(src="js/trump.js")
