doctype html
html
  head
    title="Shit Trump Says"
    link(rel="stylesheet", type="text/css", href="css/index.min.css")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(charset="UTF-8")
  body(style="background-color: black")
    div(id="content")
      div(id="quote")
        div(id="text", class="first-round")
        audio(id="audio-tag")
      div(id="action-rail")
        div(id="social", class="hidden")
          div(id="fb-link")
            include img/fb-icon.svg
          a(target="_blank", id="twitter-link")
            include img/twitter-icon.svg
        div(id="button", class="unclicked")
          include img/trump-head.svg
    script(src="js/trump.min.js")
