html
head
  title= 'Shit Trump Says'
  link(rel="stylesheet", type="text/css", href="css/index.min.css")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Amatic+SC")
body
  div(id="curtain")
  img(id="background-image-holder", src="https://s3.amazonaws.com/trump-says/trump-portrait-96dpi-1500px.jpg", style="display: none;")
  div(id="quoteBox")
    h1(id="quoteText")
  div(id="banner")
    include img/banner.svg
  script(src="js/trump.js")
