html
head
  title= 'Shit Trump Says'
body
  p(id="quoteText")='Shit Trump Says'
  link(rel="stylesheet", type="text/css", href="css/index.min.css")
  button(id="trumpMe")="Trump Me"
  script(src="js/trump.js")
