doctype html
html
  head
    title="Shit Trump Says"
    link(rel="stylesheet", type="text/css", href="css/index.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Carter+One")
    meta(name="viewport", content="width=device-width,initial-scale=1")
  body(style="background-color: black")
    div(id="content")
      div(id="quote")
        div(id="text", class="first-round")
        audio(id="audio-tag")
      div(id="action-rail")
        div(id="social", class="hidden")
          include img/fb-icon.svg
          a(target="_blank" href="https://twitter.com/intent/tweet?text=hello%20test&url=http%3A%2F%2Fwww.thebestwords.com%2F&hashtags=trump,bestwords&related=trump,bestwords")
            include img/twitter-icon.svg
        div(id="button", class="unclicked")
          include img/trump-head.svg
    script(src="js/trump.min.js")
